{% extends 'layouts/app.html' %}

{% block title %}
    Shows
{% endblock %}

{% block content-header %}
    <h1>Shows</h1>
{% endblock %}

{% block content %}
    <div class="box">
        <form action="{{ form.action }}" method="POST" enctype="multipart/form-data" class="schmal">
            {% csrf_token %}
            <div class="box-header">
                <h3 class="box-title">
                    {% if form_type == FORM_CREATE %}
                        Agregar nuevo show
                    {% elif form_type == FORM_EDIT %}
                        Editar show
                    {% elif form_type == FORM_SHOW %}
                        Ver show
                    {% endif %}
                </h3>
            </div>
            <div class="box-body">
                <div class="form-group {% if form.title.errors %} has-error {% endif %}">
                    <label for="title" class="control-label">Título</label>
                    {% if form_type == FORM_SHOW %}
                        <input type="text" class="form-control" name="title" id="title"
                                value="{{ object.title|default_if_none:'' }}"  {{ readonly }}>
                    {% else %}
                    <input type="text" class="form-control" name="title" id="title"
                           value="{{ form.title.value|default_if_none:'' }}"  {{ readonly }}>
                    {% endif %}
                    {% if form.title.errors %}
                        <span class="help-block">
                            {% for error in form.title.errors %}
                                <strong>{{ error|escape }}</strong>
                            {% endfor %}
                        </span>
                    {% endif %}
                </div>
            </div>
            {% if form_type != FORM_SHOW %}
            <div class="box-footer">
                <button type="submit" class="btn button btn-primary">
                {% if form_type == FORM_EDIT %} Actualizar {% else %} Crear {% endif %}
                </button>
            </div>
            {% endif %}
        </form>
    </div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script type="text/javascript">
    $(function() {
        
    });
</script>
{% endblock %}
