{% extends 'layouts/app.html' %}
{% load i18n static %}

{% block title %}
    Login
{% endblock %}

{% block content-header %}
    <h1>Login</h1>
{% endblock %}

{% block container %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="login-box">
                <div class="login-logo">
                    <b>ACS</b>
                </div>
                {% if user.is_authenticated %}
                <p class="errornote">
                {% blocktrans trimmed %}
                    You are authenticated as {{ username }}, but are not authorized to
                    access this page. Would you like to login to a different account?
                {% endblocktrans %}
                </p>
                {% endif %}
                <!-- /.login-logo -->
                <div class="login-box-body">
                    <p class="login-box-msg">Iniciar sesión</p>
                    <form action="{{ app_path }}" method="post" id="login-form">
                        {% csrf_token %}
                        <input type="hidden" name="next" value="{{ next }}">
                        <div class="form-group has-feedback">
                            <input type="text" name="username" class="form-control" placeholder="Email" required autofocus>
                            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                            <span class="help-block">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="form-group has-feedback">
                            <input type="password" name="password" class="form-control" placeholder="Contraseña" required>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            <span class="help-block">
                                <strong></strong>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-xs-4 pull-right">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">{% trans 'Log in' %}</button>
                            </div>
                        </div>
                        {% url 'password_reset' as password_reset_url %}
                        {% if password_reset_url %}
                        <div class="password-reset-link">
                            <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
                        </div>
                        {% endif %}
                    </form>
                </div>
                <!-- /.login-box-body -->
            </div>
        </div>
    </div>
{% endblock %}

